		</div>
		<?- include('edit-atlas.htm') ?>

		<? if (webconfig._min) { ?>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/common.<?= webconfig.version ?>.min.js"></script>
		<? } else { ?>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/socket.io.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/node-atlas/socket.io.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/modernizr.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/jquery.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/jquery/jquery.validate.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/jquery/jquery.validate.unobtrusive.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/prettify.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/prettify/run_prettify.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/edit-atlas.js"></script>
		<script type="text/javascript" src="<?- urlBasePath ?>/javascripts/common.js"></script>
		<? } ?>
	</body>
</html>