	</head>
	<body class="<?= routeParameters.variation.replace(/\.json/,'') ?>" data-variation='<?= routeParameters.variation.replace(/\.json/,'') ?>'>
		<noscript>
			<p><?= common.javascriptDisable ?></p>
		</noscript>

		<div class="permalink">
			<?= common.permalink ?> <span><?= urlPath ?></span>
		</div>

		<div class="skiplink">
			<span><?= common.skipLink.title ?></span>
			<ul>
				<? for (var i = 0; i < common.skipLink.items.length; i++) { ?>
				<li>
					<a href="<?= urlPath ?><?= common.skipLink.items[i].href ?>" title="<?= common.skipLink.items[i].title ?>"><?= common.skipLink.items[i].content ?></a>
				</li>
				<? } ?>
			</ul>
		</div>

		<div class="background-image">
			<div class="left"></div>
			<div class="right"></div>
		</div>

		<div class="main <?= specific.opened.main ?>">