		<li class="medium section <?= specific.opened.websites ?>" data-url="<?= common.url.websites ?>">
			<section class="about websites content">
				<h1>
					<ins class="collapse icon chat"></ins>
					<span><?- et(common, ['aboutWebsite.title', fc]) ?></span>
					<img src="<?- ea(common, ['aboutWebsite.image.src', fc, 'src']) ?>" width="<?- ea(common, ['aboutWebsite.image.width', fc, 'width']) ?>" height="<?- ea(common, ['aboutWebsite.image.height', fc, 'height']) ?>" alt="<?- ea(common, ['aboutWebsite.image.alt', fc, 'alt']) ?>">
				</h1>

				<div class="vertical scrollable">
					<div class="after panel">
						<h2><?- et(common, ['aboutNodeAtlas.beforePanel.title', fc]) ?></h2>
						<?- eh(common, ['aboutNodeAtlas.beforePanel.content', fc]) ?>
					</div>

					<div class="complete">
						<?- eh(common, ['aboutWebsite.content', fc]) ?>
					</div>

					<nav class="return">
						<a href="javascript:;" title="<?- ea(common, ['menu.title', fc, 'title']) ?>"><?- et(common, ['menu.content', fc]) ?></a>
					</nav>
				</div>
			</section>
		</li>