		<li class="large section <?= specific.opened.blog ?>" data-url="<?= common.url.blog ?>">
			<section class="about blog content">
				<h1>
					<ins class="collapse icon blog"></ins>
					<span><?- et(common, ['aboutBlog.title', fc]) ?></span>
					<img src="<?- ea(common,['aboutBlog.image.src', fc, 'src']) ?>" width="<?- ea(common,['aboutBlog.image.width', fc, 'width']) ?>" height="<?- ea(common,['aboutBlog.image.height', fc, 'height']) ?>" alt="<?- ea(common,['aboutBlog.image.alt', fc, 'alt']) ?>">
				</h1>

				<div class="vertical scrollable">
					<div class="after panel">
						<h2><?- et(common, ['aboutBlog.afterPanel.title', fc]) ?></h2>
						<?- eh(common, ['aboutBlog.afterPanel.content', fc]) ?>
					</div>

					<div class="complete">
						<?- eh(common, ['aboutBlog.content', fc]) ?>
					</div>

					<nav class="return">
						<a href="javascript:;" title="<?- ea(common,['menu.title', fc, 'title']) ?>"><?- et(common, ['menu.content', fc]) ?></a>
					</nav>
				</div>


			</section>
		</li>