		<li class="small section <?= specific.opened.offers ?>" data-url="<?= common.url.offers ?>">
			<section class="about offers content">
				<h1>
					<ins class="collapse icon edit"></ins>
					<span><?- et(common, ['aboutOffers.title', fc]) ?></span>
				</h1>


				<div class="vertical scrollable">
					<div class="after panel">
						<h2><?- et(common, ['aboutOffers.afterPanel.title', fc]) ?></h2>
						<p class="toggle checkbox">
			          		<input type="radio" name="edit">
			          		<label><?- et(common, ['aboutOffers.afterPanel.radioButton', fc]) ?></label>
						</p>
						<p class="horizontal divider">
							<?- et(common, ['aboutOffers.afterPanel.separator', fc]) ?>
						</p>
						<?- eh(common, ['aboutOffers.afterPanel.content', fc]) ?>
					</div>

					<div class="complete">
						<?- eh(common, ['aboutOffers.content', fc]) ?>
					</div>

					<nav class="return">
						<a href="javascript:;" title="<?- ea(common, ['menu.title', fc, 'title']) ?>"><?- et(common, ['menu.content', fc]) ?></a>
					</nav>
				</div>
			</section>
		</li>