		<li class="large section <?= specific.opened.book ?>" data-url="<?= common.url.book ?>">
			<section class="about book content">
				<h1>
					<ins class="collapse icon book"></ins>
					<span><?- et(common, ['aboutBook.title', fc]) ?></span>
					<img src="<?- ea(common,['aboutBook.image.src', fc, 'src']) ?>" width="<?- ea(common,['aboutBook.image.width', fc, 'width']) ?>" height="<?- ea(common,['aboutBook.image.height', fc, 'height']) ?>" alt="<?- ea(common,['aboutBook.image.alt', fc, 'alt']) ?>">
				</h1>

				<div class="vertical scrollable">
					<div class="complete">
						<?- eh(common, ['aboutBook.content', fc]) ?>
					</div>

					<nav class="return">
						<a href="javascript:;" title="<?- ea(common, ['menu.title', fc, 'title']) ?>"><?- et(common, ['menu.content', fc]) ?></a>
					</nav>
				</div>
			</section>
		</li>