		</div>
		<% include edit-atlas.htm %>
		<% if (webconfig._minified) { %>
		<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script type="text/javascript" src="javascript/common.min.js"></script>
		<% } else { %>
		<script type="text/javascript" src="socket.io/socket.io.js"></script>
		<script type="text/javascript" src="javascript/jquery.js"></script>
		<script type="text/javascript" src="javascript/prettify.js"></script>
		<script type="text/javascript" src="javascript/prettify/run_prettify.js"></script>
		<script type="text/javascript" src="javascript/edit-atlas.js"></script>
		<script type="text/javascript" src="javascript/common.js"></script>
		<% } %>
	</body>
</html>