		<li class="medium section ui <%= specific.opened['front-end'] %>" data-url="<%= common.url['front-end'] %>">
			<section class="about front-end content">
				<h1>
					<ins class="collapse icon html5"></ins>
					<span><%- common.aboutFrontend.title %></span>
				</h1>

				<div class="vertical scrollable ui">
					<div class="intro ui">
						<%- common.aboutFrontend.intro %>
					</div>

					<div class="before panel ui">
						<%- common.aboutFrontend.beforePanel %>
					</div>

					<div class="complete ui">
						<%- common.aboutFrontend.content %>
					</div>

					<nav class="ui return">
						<a href="javascript:;" title="Menu">Menu</a>
					</nav>
				</div>
			</section>
		</li>