		<li class="large section ui <%= specific.opened.skills %>" data-url="<%= common.url.skills %>">
			<section class="about skills content">
				<h1>
					<ins class="collapse icon code"></ins>
					<span><%-: common | et: ['aboutSkills.title', fc] %></span>
				</h1>

				<div class="vertical scrollable ui">
					<div class="intro ui">
						<%-: common | eh: ['aboutSkills.intro', fc] %>
					</div>

					<div class="before panel ui">
						<h2><%-: common | et: ['aboutSkills.beforePanel.title', fc] %></h2>
						<%-: common | eh: ['aboutSkills.beforePanel.content', fc] %>
					</div>

					<div class="complete ui">
						<h2><%-: common | et: ['aboutSkills.about.title', fc] %></h2>
						<%-: common | eh: ['aboutSkills.about.content', fc] %>

						<h2><%-: common | et: ['aboutSkills.clientSide.title', fc] %></h2>
						<%-: common | eh: ['aboutSkills.clientSide.content', fc] %>

						<h2><%-: common | et: ['aboutSkills.seo.title', fc] %></h2>
						<%-: common | eh: ['aboutSkills.seo.content', fc] %>

						<h2><%-: common | et: ['aboutSkills.serverSide.title', fc] %></h2>
						<%-: common | eh: ['aboutSkills.serverSide.content', fc] %>

						<h2><%-: common | et: ['aboutSkills.framework.title', fc] %></h2>
						<%-: common | eh: ['aboutSkills.framework.content', fc] %>

						<h2><%-: common | et: ['aboutSkills.webserver.title', fc] %></h2>
						<%-: common | eh: ['aboutSkills.webserver.content', fc] %>

						<h2><%-: common | et: ['aboutSkills.tools.title', fc] %></h2>
						<%-: common | eh: ['aboutSkills.tools.content', fc] %>
					</div>

					<nav class="ui return">
						<a href="javascript:;" title="<%-: common | ea: ['menu.title', fc, 'title'] %>"><%-: common | et: ['menu.content', fc] %></a>
					</nav>
				</div>
			</section>
		</li>