		<li class="small section ui <%= specific.opened.offers %>" data-url="<%= common.url.offers %>">
			<section class="about offers content">
				<h1>
					<ins class="collapse icon edit"></ins>
					<span><%- et(common, ['aboutOffers.title', fc]) %></span>
				</h1>


				<div class="vertical scrollable ui">
					<div class="after panel ui">
						<h2><%- et(common, ['aboutOffers.afterPanel.title', fc]) %></h2>
						<p class="toggle checkbox ui">
			          		<input type="radio" name="edit">
			          		<label><%- et(common, ['aboutOffers.afterPanel.radioButton', fc]) %></label>
						</p>
						<p class="horizontal divider ui">
							<%- et(common, ['aboutOffers.afterPanel.separator', fc]) %>
						</p>
						<%- eh(common, ['aboutOffers.afterPanel.content', fc]) %>
					</div>

					<div class="complete ui">
						<h2><%- et(common, ['aboutOffers.about.title', fc]) %></h2>
						<%- eh(common, ['aboutOffers.about.content', fc]) %>
					</div>

					<div class="complete ui">
						<h2><%- et(common, ['aboutOffers.howTo.title', fc]) %></h2>
						<%- eh(common, ['aboutOffers.howTo.content', fc]) %>
					</div>

					<nav class="ui return">
						<a href="javascript:;" title="<%- ea(common, ['menu.title', fc, 'title']) %>"><%- et(common, ['menu.content', fc]) %></a>
					</nav>
				</div>
			</section>
		</li>