		<li class="small section ui <%= specific.opened.bepo %>" data-url="<%= common.url.bepo %>">
			<section class="about bepo content">
				<h1>
					<ins class="collapse icon keyboard"></ins>
					<span><%-: common | et: ['aboutBepo.title', fc] %></span>
				</h1>

				<div class="vertical scrollable ui">
					<div class="after panel ui">
						<h2><%-: common | et: ['aboutBepo.afterPanel.title', fc] %></h2>
						<%-: common | eh: ['aboutBepo.afterPanel.content', fc] %>
					</div>
				
					<div class="complete ui">
						<h2><%-: common | et: ['aboutBepo.about.title', fc] %></h2>
						<%-: common | eh: ['aboutBepo.about.content', fc] %>

						<h2><%-: common | et: ['aboutBepo.speed.title', fc] %></h2>
						<%-: common | eh: ['aboutBepo.speed.content', fc] %>

						<h2><%-: common | et: ['aboutBepo.why.title', fc] %></h2>
						<%-: common | eh: ['aboutBepo.why.content', fc] %>

						<h2><%-: common | et: ['aboutBepo.learn.title', fc] %></h2>
						<%-: common | eh: ['aboutBepo.learn.content', fc] %>
					</div>

					<nav class="ui return">
						<a href="javascript:;" title="<%-: common | ea: ['menu.title', fc, 'title'] %>"><%-: common | et: ['menu.content', fc] %></a>
					</nav>
				</div>
			</section>
		</li>