		<li class="large section ui <%= specific.opened.blog %>" data-url="<%= common.url.blog %>">
			<section class="about blog content">
				<h1>
					<ins class="collapse icon blog"></ins>
					<span><%-: common | et: ['aboutBlog.title', fc] %></span>
					<img src="<%-: common | ea: ['aboutBlog.image.src', fc, 'src'] %>" alt="<%-: common | ea: ['aboutBlog.image.alt', fc, 'alt'] %>">
				</h1>

				<div class="vertical scrollable ui">
					<div class="after panel ui">
						<h2><%-: common | et: ['aboutBlog.afterPanel.title', fc] %></h2>
						<%-: common | eh: ['aboutBlog.afterPanel.content', fc] %>
					</div>

					<div class="complete ui">
						<h2><%-: common | et: ['aboutBlog.articles.title', fc] %></h2>
						<%-: common | eh: ['aboutBlog.articles.content', fc] %>

						<h2><%-: common | et: ['aboutBlog.goTo.title', fc] %></h2>
						<%-: common | eh: ['aboutBlog.goTo.content', fc] %>
					</div>

					<nav class="ui return">
						<a href="javascript:;" title="<%-: common | ea: ['menu.title', fc, 'title'] %>"><%-: common | et: ['menu.content', fc] %></a>
					</nav>
				</div>


			</section>
		</li>