		<li class="medium section ui <%= specific.opened.offers %>" data-url="<%= common.url.offers %>">
			<section class="about offers content">
				<h1>
					<ins class="collapse icon euro"></ins>
					<span><%-: common | et: ['aboutOffers.title', fc] %></span>
				</h1>

				<div class="intro ui">
					<%-: common | eh: ['aboutOffers.intro', fc] %>
				</div>
				<nav class="ui return">
					<a href="javascript:;" title="<%-: common | ea: ['menu.title', fc, 'title'] %>"><%-: common | et: ['menu.content', fc] %></a>
				</nav>
			</section>
		</li>