		<li class="huge section <%= specific.opened['contact-me'] %>" data-url="<%= common.url['contact-me'] %>">
			<section class="contact-me content">
				<h1>
					<ins class="collapse icon mail"></ins>
					<span><%- common.contactMe.title %></span>
					<img src="<%- ea(common, ['contactMe.image.src', fc, 'src']) %>" alt="<%- ea(common, ['contactMe.image.alt', fc, 'alt']) %>">
				</h1>

				<div class="vertical scrollable">
					<div class="complete">
						<%- eh(common, ['contactMe.content', fc, 'website.generateEmail()']) %>
					</div>

					<form class="contact form" action="" method="post"></form>

					<nav class="return">
						<a href="javascript:;" title="<%- ea(common, ['menu.title', fc, 'title']) %>"><%- et(common, ['menu.content', fc]) %></a>
					</nav>
				</div>
			</section>
		</li>