		<li class="small section <%= specific.opened.games %>" data-url="<%= common.url.games %>">
			<section class="about games content">
				<h1>
					<ins class="collapse icon gamepad"></ins>
					<span><%- et(common, ['aboutGames.title', fc]) %></span>
				</h1>

				<div class="vertical scrollable">
					<div class="before panel">
						<h2><%- et(common, ['aboutGames.afterPanel.title', fc]) %></h2>
						<%- eh(common, ['aboutGames.beforePanel.content', fc]) %>
					</div>

					<div class="complete">
						<%- eh(common, ['aboutGames.content', fc]) %>
					</div>

					<nav class="return">
						<a href="javascript:;" title="<%- ea(common,['menu.title', fc, 'title']) %>"><%- et(common, ['menu.content', fc]) %></a>
					</nav>
				</div>
			</section>
		</li>