		<li class="medium section <%= specific.opened.bepo %>" data-url="<%= common.url.bepo %>">
			<section class="about bepo content">
				<h1>
					<ins class="collapse icon keyboard"></ins>
					<span><%- et(common, ['aboutBepo.title', fc]) %></span>
				</h1>

				<div class="vertical scrollable">
					<div class="intro">
						<%- eh(common, ['aboutBepo.intro', fc]) %>
					</div>

					<div class="after panel">
						<h2><%- et(common, ['aboutBepo.afterPanel.title', fc]) %></h2>
						<%- eh(common, ['aboutBepo.afterPanel.content', fc]) %>
					</div>

					<div class="complete">
						<%- eh(common, ['aboutBepo.content', fc]) %>
					</div>

					<nav class="return">
						<a href="javascript:;" title="<%- ea(common, ['menu.title', fc, 'title']) %>"><%- et(common, ['menu.content', fc]) %></a>
					</nav>
				</div>
			</section>
		</li>