		<li class="medium section <%= specific.opened['front-end'] %>" data-url="<%= common.url['front-end'] %>">
			<section class="about front-end content">
				<h1>
					<ins class="collapse icon html5"></ins>
					<span><%- et(common, ['aboutFrontend.title', fc]) %></span>
				</h1>

				<div class="vertical scrollable">
					<div class="intro">
						<%- eh(common, ['aboutFrontend.intro', fc]) %>
					</div>

					<div class="before panel">
						<h2><%- et(common, ['aboutFrontend.beforePanel.title', fc]) %></h2>
						<%- eh(common, ['aboutFrontend.beforePanel.content', fc]) %>
					</div>

					<div class="complete">
						<%- eh(common, ['aboutFrontend.content', fc]) %>
					</div>

					<nav class="return">
						<a href="javascript:;" title="<%- ea(common,['menu.title', fc, 'title']) %>"><%- et(common, ['menu.content', fc]) %></a>
					</nav>
				</div>
			</section>
		</li>