		<li class="huge section ui <%= specific.opened['contact-me'] %>" data-url="<%= common.url['contact-me'] %>">
			<section class="contact-me content">
				<h1>
					<ins class="collapse icon mail"></ins>
					<span><%- common.contactMe.title %></span>
					<img src="./media/images/contact-me.png" alt="Contactez-moi">
				</h1>

				<div class="vertical scrollable ui">
					<div class="complete ui">
						<form class="contact form ui" action="" method="post">
							<h2>Projet ? Idée ? Infos ? Écrivez moi !</h2>
							
							<div class="process">
								<div class="field field-name">
									<label>Vos prénom et nom :</label>
									<div class="input ui">
										<input id="contact-name" type="text" name="name" placeholder="Prénom Nom (ou Pseudo)" title="Vos prénom et nom :"
											data-rule-required="true"
       										data-msg-required="C'est quoi votre nom ?">
									</div>
									<div class="error">
										<p data-valmsg-for="name" data-valmsg-replace="true"></p>
									</div>
								</div>
								<div class="field field-email">
									<label>Votre adresse email :</label>
									<div class="input ui">
										<input id="contact-email" type="text" name="email" placeholder="votre@email.ici" title="Votre adresse email :"
											data-rule-required="true"
       										data-msg-required="Sans email, je ne peux pas vous répondre !"
									        data-rule-email="true"
									        data-msg-email="Il est bizarre votre email.">
									</div>
									<div class="error">
										<p data-valmsg-for="email" data-valmsg-replace="true"></p>
									</div>
								</div>
								<div class="field field-content">
									<label>Votre message :</label>
									<div class="input ui">
										<textarea id="contact-content" name="content" placeholder="Ecrivez ce que vous souhaitez..." title="Votre message :"></textarea>
									</div>
									<div class="error">
										<p class="empty-content">Mais vous n'avez rien dit...</p>
									</div>
								</div>
								<div class="field field-submit">
									<div>
										<label>
											<button id="contact-submit" class="button ui" name="submit">Envoyer</button>
										</label>
									</div>
								</div>
							</div>
						</form>
					</div>

					<nav class="ui return">
						<a href="javascript:;" title="Menu">Menu</a>
					</nav>
				</div>
			</section>
		</li>