/*------------------------------------*\
    $SUMMARY
\*------------------------------------*/

/**
 * DESKTOP+ DESIGN..........Use for placement of item on desktops and higher.
 *** Markup
 *** Component
 *** Layout
 */





/*------------------------------------*\
    $DESKTOP+ STYLES
\*------------------------------------*/

/***********/
/* $Markup */
/***********/

/**************/
/* $Component */
/**************/

@media (min-width: 1420px) {
	.sections .small.section {
		display: inline-block;
	}
	.main .front-end .complete.ui > :last-child {
		padding-bottom: 56px;
	}
}

@media (min-width: 1200px) {
	.sections .section.open {
		width: 768px;
	}
}

@media (min-width: 992px) { /*** Responsive start ***/
.top.sections .small.section h1 {
	margin-top: 12px;
}

.bottom.sections .small.section h1 {
	margin-top: 10px;
}

.sections .section {
	width: 180px;
	margin-left: 10px;
	margin-right: 10px;
}

.sections .section .intro p {
	margin-top: 16px;
}

.sections .section h1 span {
	display: inline;
}

.main.to.top .bottom.sections .medium.section {
	margin-right: -190px;
	margin-left: -190px;
}

.main.to.bottom .top.sections .medium.section {
	margin-right: -190px;
	margin-left: -190px;
}
	
/***********/
/* $Layout */
/***********/

.sections .section .nodeatlas h1 ins,
.sections .section .nodeatlas h1 span {
	display: none;
}

.main.to .sections .section .nodeatlas h1 ins,
.main.to .sections .section .nodeatlas h1 span,
.sections .section.open .nodeatlas h1 ins,
.sections .section.open .nodeatlas h1 span {
	display: inline;
}

.sections .section .nodeatlas h1 img {
	margin: -24px;
	opacity: 1;
}

.sections .section.open .nodeatlas h1 img {
	opacity: 0;
	width: 0%;
}

/*** Responsive end ***/ }

@media (max-width: 323px), (max-height: 500px) {
	.sections .section .nodeatlas h1 ins {
		display: inline;
	}	
	.sections .section .nodeatlas h1 span,
	.sections .section .nodeatlas h1 img {
		display: none;
	}
}

@media (min-width: 1200px) {
	.nodeatlas iframe {
		padding-left: 132px;
	}

	.main.to.top .sections .section.open .me .scrollable.ui {
		margin-right: 188px;
	}

	.main.to.bottom .sections .section.open .front-end .scrollable.ui,
	.main.to.top .sections .section.open .skills .scrollable.ui {
		margin-left: 188px;
	}

	.before.panel {
		left: -180px;
		width: 164px;
	}

	.after.panel {
		right: -180px;
		width: 164px;
	}
}